@media screen and (max-width: 768px) {
} 
@media (min-width: 768px) { 

}

  @media screen and (min-width: 768px) {
    .food-wise-icon {
        width: 650px;
        height: 650px;
    }
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  height: 40vh;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

